<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Amani Fadzlina Abdul Aziz</h1>
    <h3>Psychology graduate with a passion for research and data</h3>
    <br>
    <a href="https://github.com/a-fadzlina/xcel" class="btn btn-dark btn-lg">Excel Projects</a>
    <a href="https://rpubs.com/fdln_aa" class="btn btn-dark btn-lg">R Projects</a>
    <br>
    <ul class="list-inline">
          <li>
            <a href="http://www.linkedin.com/in/afdzln"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
          </li>
          <li>
               <a href="https://github.com/a-fadzlina"><i class="fa fa-github fa-fw fa-2x"></i></a>
          </li>
          <li>
             <a href="mailto:fdzln.aa@gmail.com"><i class="fa fa-envelope fa-fw fa-2x"></i></a>
          </li>
  </div>
</header>
